.header {
  color: red;
  text-align: center;
  font-size: 42px;
}
.body{
  width: 100%
}
.header-container  {
  width: 100%;
}
.feed-contents {
  color: blue;
  text-align: center;
}
img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}
.viewport {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25%;
}
